{% extends "base.html" %}

{% block featureBox %}
<div class="login-box">

    <h1>
        Donate Your Health Data To an organization you believe in 
    </h1>

    {% if message %}
        <p class="message">{{message}}</p>
    {% endif %}

    {% if errors %}
        <p class="error">{{ errors }}</p>
    {% endif %}
<table>
	<tr><td><h3>Login</h3></td><td> or <a href="/accounts/signup/">Sign Up</a></td></tr>
    <form action='.' method='POST' class="user-form">
        <tr><td>
            <label for="username">User name:</label>&nbsp;</td>
            <td><input type="text" name="username" value="" id="username"  class="text">
        </td></tr>

        <tr><td>
            <label for="password">Password:</label>&nbsp;</td>
            <td><input type="password" name="password" value="" id="password"  class="text">
            </td></tr>
        <tr><td> 
            <a href="/accounts/password-reset-request/" class="foot-note">Forgot Password?</a>

        </td></tr>
        <tr><td></td>
            <td>
            <div id="login_box"><!-- extra wrapper for centering -->

                {% if messages %}
                <div id="messages">
                    <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}

                {% rpx_embed extra %}

            </div>
        </td></tr>

        <tr><td>
        <input type="submit" value="Login" class="button"/>
        <input type="hidden" name="next" value="{{ next|escape }}" /></td></tr>
        {% csrf_token %}
    </form>
</table>

</div>



{% endblock %}