<div id="top-nav-wrapper">

    <p class="info-bar time-wrapper hidden"></p>


    <div class="top-nav">

        <div class="logo">HIVE</div>
    
        <div class="user-nav no-print">
            {% if user.is_authenticated %}
                Welcome {{user}}
                &nbsp;
                <a href="/accounts/logout">logout</a>
            {% else %}
                <a href="/accounts/smscode">login</a>
            {% endif %}
        <br/>

        </div>

        {% if user.is_authenticated %}
            <ul class="nav no-print">
                <li><a href="/" class="nav-home-tab">Home</a></li>
                <li><a href="/outreach/" class="nav-outreach-tab">Outreach</a></li>
                <li><a href="XXX" class="nav-survey-tab">Survey Follow-Up</a></li>
                <li><a href="XXX" class="nav-patient-tab">Patient Tracker</a></li>
                <li><a href="XXX" class="nav-reports-tab">Reports</a></li>
                <li><a href="/grants" class="nav-grants-tab">Grants</a></li>
                <li><a href="/tools/landing" class="nav-tools-tab">Tools</a></li>
            </ul>
        {% endif %}
    </div>

</div>

<div id="sub-nav-wrapper" class="no-print">
    <div class="sub-nav">
        {% if user.is_authenticated %}
            <span>Location: {{user.get_profile.location}}  <a href="/location/create">Change</a></span>
        {% endif %}
    </div>
</div>

