{% extends "base.html" %}

{% block featureBox %}
    <h1>Organization Registry - Approved for Donation</h1>
   <table class="Narrative">          
	<tr><td width="50%">Organization</td><td width="15%">Phone</td><td width="15%">Type</td>
		<td width="15%">Status</td><td>Owner</td></tr>
        {% for organization in object_list %}
            <tr>
	<td><a href="{{ organization.url}}" target="_blank">{{ organization.name }}</a></td>
	<td>{{ organization.phone_number }}</td>
	<td>&nbsp;{{ organization.type}}&nbsp;</td>
	<td style="font-style: italic;">{{ organization.status }}</td>

	</tr>
        {% endfor %}

</table> 
{% endblock %}
  