{% extends "base.html" %}

{% block featureBox %}
<div id="featureBox">
  {% if updated %}
  <p class="warning">{{ error }}</p>
  {% endif %}
  <h1>Organization</h1>
  <p class="Narrative">
    <table>
    {% for field in form %}
    	 <tr class="Narrative">
            <td class="Narrative">{{ field.label }}&nbsp;</td>
            <td class="Narrative">{{ field.value }}</td>
        </tr>


    {% endfor %}
  </table>
<p class="Narrative"></p><a href="/registry/list/">Return to Registry List</a></p>

  <div class="warning">
   Warning: This system is in Beta and by signing up you
    are agreeing to the <a HREF="/tos.html">terms of service</a>.
</div>
{% endblock %}
