{% extends "base.html" %}
{% block extra_head %}

    <script src="{{ STATIC_URL }}js/picup.js"></script>
    <script src="{{ STATIC_URL }}js/prototype.js"></script>

    <script type="text/javascript">

        var currentParams = {}


        document.observe('dom:loaded', function(){



            $(document.body).addClassName('iphone');

            // Define the callback handler

            // We'll check the hash when the page loads in-case it was opened in a new page
            // due to memory constraints
            Picup.checkHash();


            // Set some starter params
            currentParams = {
                'callbackURL' 		    : '{{ callback_url }}',
                'referrerName' 		    : 'RainbowButton%20Photo%20Upload',
                'referrerFavicon' 	    : 'http%3A//www.ekive.com/static/rbutton/mainstatic/img/favicon.ico',
                'purpose'               : 'Capture%20the%20DC%20Medicaid%20Form',
                'debug' 			    : 'true',
                'imageFormat'           : 'jpg',
                //   'postImageFilename'     : '',
                //   'postImageParam'        : '',
                //   'postURL'               : 'http%3A//imgur.com/api/upload.json',
                //   'postValues'            : '',
                'returnStatus'          : 'true',
                'returnServerResponse'  : 'false',
                'returnThumbnailDataURL': 'true',
                'thumbnailSize'         : '80'

            };

            Picup.convertFileInput($('photo'), currentParams);

        });

    </script>




{% endblock %}

{% block high_breadcrumbs %}
    <h1>Browser Test</h1>
    {% include "back.html" %}
{% endblock %}

{% block featureBox %}


    <h2>Browser Result: {{ result }}</h2>
    <p class>Browser elements found:{{ found }}</p>
        <div class="insert_element"></div>

        {%  if result %}
            <label for="image">Upload Image from your iOS device:</label>
            <input type="file" name="photo" id="photo"/>
        {%  else %}
            <label for="image">Upload Image of form:</label> 
            <input type="file" name="file" id="file"/>
        {% endif %}
        <a name="results"></a>
        <div id="thumbnail_preview"></div>
        <pre id="output">

		</pre>
        
        {% if result %}
        <p><a href="http://itunes.apple.com/us/app/picup/id354101378?mt=8" id="available_in_appstore">
            <img src="http://www.ekive.com/images/AppsStore.jpg" width="150">
        </a></p>
        {%  endif %}



{% endblock %}