{% extends "base.html" %}
{% block extra_head %}
<title>Uploaded Photo...</title>

    <script type="text/javascript" src="{{ STATIC_URL }}js/picup.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/prototype.js"></script>

<script type="text/javascript">

    Picup.callbackHandler = function(params){
        for(var key in params){
            alert(key+' == '+params[key]);
        }
    }

    function getHashUrlVars(){
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('#') + 1).split('&');
        for(var i = 0; i < hashes.length; i++)
        {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
            // alert(hash[0]+' == '+hash[1]);
        }
        return vars;
    }

    // Get all URL parameters
    var allVars = getHashUrlVars();

    // Getting URL var by its name
    var picID = getHashUrlVars()["picID"];
    var remoteImageURL = getHashUrlVars()["remoteImageURL"];
    var debug = getHashUrlVars()["debug"];
    var thumbnailDataURL = getHashUrlVars()["thumbnailDataURL"];


    var data = "/experiment/upload_save?debug="+ debug +"&remoteImageURL="+ remoteImageURL +"&picID="+ picID + "&thumbnailDataURL=" +thumbnailDataURL;

    // alert('imgURL: '+unescape(image));
    // alert('status: '+unescape(status));

    //redirect the page to php script to be accessed using $_REQUEST

    window.location = data;
</script>


{% endblock %}

{% block high_breadcrumbs %}
    <h1>Browser Test</h1>
    {% include "back.html" %}
{% endblock %}

{% block featureBox %}


    <h2>Photo Result: {{ result }}</h2>
    <p class>Browser elements found:{{ found }}</p>

    <a name="results"></a>
    <div id="thumbnail_preview"></div>
    <pre id="output">

		</pre>
    <script type="text/javascript">
        if(isIphone) document.body.className = "iphone";
    </script>
    <p><a href="http://itunes.apple.com/us/app/picup/id354101378?mt=8" id="available_in_appstore">
        <img src="http://www.ekive.com/images/AppsStore.jpg" width="150">
    </a></p>



{% endblock %}