{% extends "base.html" %}
{% block extra_head %}


{% endblock %}

{% block featureBox %}
<H1>Hello Blue Button!</H1>
<h2>Meet Green, Red and White Buttons!</h2>
    
<img src="{{ STATIC_URL }}/img/RainbowButtonLogo.gif" width="300" align="Center" /><br>
<p class="Body_Text">Hello <em><strong>{{first_name}}</strong></em>. </p>
<span class="Body_Text"><br>
</span>
<form action="" method="post">
  <span class="Body_Text">Upload Your BlueButton File: 
  <input name="BlueButton_Upload" type="file" size="40" />
  </span>
</form>
{% endblock %}
