{% extends "base_minimal.html" %}
{% block pretitle %}Home:{% endblock %}
{% block featureBox %}
<Div style="margin-left:auto; margin-right:auto;">
     <a href="." onClick="SocialShare();return false;" >Tell your friends to about RainbowButton!</a>

     <img src="{{STATIC_URL}}img/BackSoon.png" width="70%" />

</Div>


<script type="text/javascript">
  function SocialShare()
  {

    RPXNOW.loadAndRun(['Social'], function () {
        var activity = new RPXNOW.Social.Activity(
            "Tell your friends about RainbowButton.com",
            "Why don\'t you join me and anonymously donate your health data to a worthy cause on rainbowbutton.com",
            "http://www.rainbowbutton.com/");
        activity.setDescription ( 'www.RainbowButton.com - Donate your data');
        activity.setTitle ( 'De-personalize and donate your BlueButton data ');
        RPXNOW.Social.publishActivity(activity);
    });

    return false;
  }

</script>


<div id="insert_js_code"></div>

{% endblock %}
