<!-- <link href="file:///Macintosh HD/Users/mark/Sites/Rainbow/rbutton/mainstatic/boilerplate/css/style.css" rel="stylesheet" type="text/css" />
-->
{% extends "base.html" %}
{% block extra_head %}
<STYLE type="text/css">
   body {background:url({{STATIC_URL}}/img/RainbowChameleon.jpg); align:middle; no-repeat }
 </STYLE>

{% endblock %}

{% block featureBox %}

<h1>Rainbow Button Initiative
</h1>

<a href="javascript:history.go(-1)" class="Narrative">[Go Back]</a>

<p class="Narrative">The Rainbow Button provides a set of tools to enable consumers to manage their health data.</p>
<span class="Narrative">
<ul>Blue Button:  Download your health data</ul>
<ul>Green Button: Allow your anonymous data to be donated to organizations of your choosing</ul>
<ul>White Button: Send your data to another person or entity, e.g. A specialist you will be seeing</ul>
<ul>Red Button:   Lock part of your Health Record. </ul>
</span>
<img src="{{STATIC_URL}}img/RainbowButtonLogo.gif" border=no width="200" Align="Center" />

{% endblock %}
