{% extends "base.html" %}
{% block extra_head %}

<style type="text/css">

.dot {
	list-style-position: outside;
	list-style-image: none;
	list-style-type: square;
	margin-left: 15px;
    padding-left: 15px;
}

</style>

{% endblock %}

{% block featureBox %}

<h1>Rainbow Button Initiative
</h1>

<a href="javascript:history.go(-1)" class="Narrative">[Go Back]</a>

<p class="Narrative">The Rainbow Button provides a set of tools to enable consumers to manage their health data.</p>
<span class="Narrative">
<ul class="dot"><li>Blue Button:  Download your health data</li>
<li>Green Button: Allow your anonymous data to be donated to organizations of your choosing</li>
<li>White Button: Send your data to another person or entity, e.g. A specialist you will be seeing</li>
<li>Red Button:   Lock part of your Health Record. </li>
</ul>
</span>
<p class="Narrative">RainbowButton.com implements the GreenButton and uses the RedButton to help you de-personalize your
BlueButton health file.</p>
<p class="Narrative">&nbsp;</p>
<p class="Narrative">To find out more about the Rainbow Button Initiative check out our <a href="/background.html">Background</a> page.</p>
<img src="{{STATIC_URL}}img/RainbowButtonLogo.gif" border=no width="200" Align="Center" />

{% endblock %}
