{% extends "base.html" %}
{% block extra_head %}

{% endblock %}

{% block featureBox %}

<h1>Join the Rainbow Button Registry
</h1>
{% include "back.html" %}

<span class="Narrative">
<p>All organizations joining the Rainbow Button Data Donation Registry are validated and must comply with a strict code of conduct that preserves the anonymity of our members who choose to donate their data.</p>
<p>&nbsp;</p>
<p>Our members choose who they donate data to. We do not.</p>
<p>&nbsp;</p>
<p>Commercial companies and non-profit organizations who perform or support research to develop better health and wellness products are welcome to join the Rainbow Button Registry.</p>   
<a href="/registry/update/" Target="_blank">Apply to Join the Registry</a>

<p><a href="/registry/list/">View/Search the Registry</a> </p> 
</span> 

<img src="{{STATIC_URL}}img/RainbowButtonLogo.gif" border=no width="200" Align="Center" />

{% endblock %}