
{% extends "base.html" %}
{% block extra_head %}



{% endblock %}

{% block high_breadcrumbs %}
<h1>Thank You for helping!</h1>
{% endblock %}
{% block featureBox %}
<p class="Narrative">Providing feedback on medications you take provides invaluable information to help improve drug safety. </p>
<p class="Narrative">&nbsp;</p>
<p class="Narrative">Your personal information has not been shared, only your responses to the medication questions posed on the previous page.
</p>
<p class="Narrative">&nbsp;</p>
<p class="Narrative">
Thank You!</p>
<p class="Narrative">&nbsp;</p>
<p class="Narrative">Your reciept id is: {{filename}}
</p>
{% endblock %}
