<!--<link href="file:///Macintosh HD/Users/mark/Sites/Rainbow/rbutton/mainstatic/boilerplate/css/style.css" rel="stylesheet" type="text/css" /> 
 -->

{% extends "base.html" %}
{% block extra_head %}


{% endblock %}

{% block featureBox %}

<p class="Narrative">We have detected you are using GLEVIC.  Clinical trials
reported:</p>
<p>Adverse Reaction: {{mysummary}} <br><br>
Frequency: {{mylabel}}<br>
</p>

<p class="Narrative">
What is your personal experience?
Please answer the question below to help Novartis
research the full extent of the side effect.
Your information will remain anonymous. 
</p>
<form action="/novartis-question/{{ filename }}" method="POST" enctype="multipart/form-data" class="Narrative">
  <p>
    
    {{ form.as_p }}
  
  {% csrf_token %}
    <input type="submit" value="Share your report with Novartis" />
  </p>
</form>

{% endblock %}
