<!-- <link href="file:///Macintosh HD/Users/mark/Sites/Rainbow/rbutton/mainstatic/boilerplate/css/style.css" rel="stylesheet" type="text/css" />
-->
{% extends "base.html" %}
{% block extra_head %}


{% endblock %}

{% block featureBox %}

<h1>Privacy Statement</h1>
<a href="javascript:history.go(-1)" class="Narrative">[Go Back]</a>


<span class="Narrative">
<p>We protect your Health Data. You are in control of who sees and uses your Health Data. You choose how much or how little of your Health Data is shared. You don't even need to create an account in order to de-personalize your Blue Button File. You can just upload, convert it and download the result. However, if you setup an account with us we can make it easy for you to donate your data to organizations of your choosing.</p>
<p>&nbsp;</p>
<p>When you setup an account with us we do the heavy lifting of delivering your de-personalized data to the organizations you have chosen to donate your health information to. You will always be in control.</p>
<p>&nbsp;</p>
<p>When you de-personalize your data we may alert you to organizations that are interested in your information. We do this without revealing your identity.</p>
</span>

<img src="{{STATIC_URL}}img/RainbowButtonLogo.gif" border=no width="200" Align="Center" />

{% endblock %}