

{% extends "base.html" %}
{% block extra_head %}
<STYLE type="text/css">
   body {background:url('{{STATIC_URL}}/img/RainbowChameleon.jpg'); align:middle; background-repeat:no-repeat;
   }
   width: 80%; /* for IE 6 */
	}
   
 </STYLE>


{% endblock %}

{%block high_breadcrumbs %}
<h1>Green Button File Created</h1>
{% endblock %}
{% block featureBox %}

<p class="Narrative">Your Green Button File is ready. You can download it as a text file, An Excel Worksheet, or choose to donate directly to one of our Research Partners.</p> 

<p>
<Table><tr style="vertical-align:middle"><td>
<a href="{{MEDIA_URL}}{{ sanitizedfile }}" target="_blank"><img src="{{STATIC_URL}}/img/GreenButton100_1.gif" /> Download Green Button Text File</a>  
</td>
</tr>
<tr style="vertical-align:middle"><td>
<a href="{{MEDIA_URL}}{{ excelfilename }}" target="_blank"><img src="{{STATIC_URL}}/img/GreenButton100_2.gif" /> Download Green Button Excel Sheet</a>  
</td>
</tr>
</Table>
<p class="Narrative">
Donate your health data to one of our research partners.
</p>

<form action="/donate-my-data/{{filename}}" method="POST" enctype="multipart/form-data" class="Narrative">
  <p>
    
  {% csrf_token %}
    <input type="image" name="Donate" src="{{STATIC_URL}}/img/DonateGreenFile.gif" border="0" height="60" />
  </p>
</form>

{% endblock %}

