<!--<link href="file:///Macintosh HD/Users/mark/Sites/Rainbow/rbutton/mainstatic/boilerplate/css/style.css" rel="stylesheet" type="text/css" /> 
 -->

{% extends "base.html" %}
{% block extra_head %}


{% endblock %}

{% block featureBox %}

<p class="Narrative">Thanks for Creating an Account with us. We have a network of Research partner which makes it easy for you to anonymously donate your data. We  keep a history of who you donated to.</p>
<p>
  </p class="Narrative">
Select one or more of our research partners and we will handle the work of getting your data to them. We will only send data to organizations you have chosen. 
</p>
<form action="/novartis-question/{{ filename }}" method="POST" enctype="multipart/form-data" class="Narrative">
  <p>
    
    {{ form.as_p }}
  
  {% csrf_token %}
    <input type="image" name="Donate" src="{{STATIC_URL}}/img/DonateGreenFile.png" border="0" height="60" />
  </p>
</form>

{% endblock %}
