<!-- <link href="file:///Macintosh HD/Users/mark/Sites/Rainbow/rbutton/mainstatic/boilerplate/css/style.css" rel="stylesheet" type="text/css" />
-->
{% extends "base.html" %}
{% block extra_head %}
<title>Support the Rainbow Button Initiative</title>

{% endblock %}

{% block featureBox %}


<h1>Support the Rainbow Button Initiative
</h1>

<a href="javascript:history.go(-1)" class="Narrative">[Go Back]</a>

<span class="Narrative">
<p>Help us by donating to support this free service.</p>

<img src="{{STATIC_URL}}img/RainbowButtonLogo.gif" border=no width="200" Align="Center" />

</span>

{% endblock %}