<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Support the Rainbow Button Initiative</title>
</head>

<body>
<h1>Support the Rainbow Button Initiative
</h1>

<a Href="/">Home</a>

<p>Help us by donating to support this free service.</p>

<img src="{{STATIC_URL}}img/RainbowButtonLogo.gif" border=no width="600" Align="Center" />
</body>
</html>
