<!-- <link href="file:///Macintosh HD/Users/mark/Sites/Rainbow/rbutton/mainstatic/boilerplate/css/style.css" rel="stylesheet" type="text/css" />
-->
<p>{% extends "base.html" %}
  {% block extra_head %}
 <STYLE type="text/css">
   body {background:url('{{STATIC_URL}}/img/RainbowChameleon.jpg'); align:middle; background-repeat:no-repeat;
   }
   width: 80%; /* for IE 6 */
	}
   
 </STYLE> 
  
  {% endblock %}
  
  {% block featureBox %}</p>
<p class="Narrative">The Medical Record Converter makes it simple to remove personal information from your Blue Button file so that you can anonymously donate your data for research purposes. We hope you choose to pay it forward and share your information. Doing so can help make the world a better place.</p>
<br />
<form enctype="multipart/form-data" action="/upload" method="POST">
<div class="Body_Text">{{ form.as_p }}
{% csrf_token %}</div>
<br>
<div class="Body_Text"><input type="image" name="upload" src="{{STATIC_URL}}/img/UploadBlueFile60.gif" border="0"  /></div>        
</form>

{% endblock %}
